.container {
    max-width: 1440px;
}

.header__nav {
    background-color: #3F2AFF;
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: calc(165px - ((1440px - 100%) / 6));
    padding-right: calc(165px - ((1440px - 100%) / 6));
}

.header__nav__item {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.header__burger {
    background-color: #3F2AFF;
    display: none;
}

.header__nav__item:not(:first-child) {
    margin-right: 56px;
}

.header__nav__item:last-child {
    margin: 0;
}

.header__logo {
    margin-right: calc(546px - ((1110px - 100%)));
}

.logo__768 {
    display: none;
}

.header__banner {
    height: 620px;
    width: 100%;
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
    position: relative;
    margin-bottom: 80px;
}

.header__banner::before {
    content: '';
    background-image: url(../img/banner-pic.png);
    background-repeat: no-repeat;
    width: 633px;
    height: 593px;
    background-size: 100% 100%;
    position: absolute;
    right: calc(165px - ((1410px - 100%) / 2));
    top: 15px;
}

.banner__title {
    width: 459px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    margin-top: 130px;
    margin-left: calc(165px - ((1410px - 100%) / 2));
    margin-bottom: 30px;
}

.banner__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 444px;
    color: #fff;
    display: block;
    margin-left: calc(165px - ((1410px - 100%) / 2));
    margin-bottom: 70px;
}

.banner__btn {
    border-radius: 20px;
    background-color: #3F2AFF;
    width: 270px;
    height: 69px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-left: calc(165px - ((1410px - 100%) / 2));
    padding: 0;
    border: none;
}

.benefits__container {
    padding: 0 calc(165px - ((1410px - 100%) / 3));
    margin-bottom: 80px;
}

.benefits__content {
    padding-left: 190px;
    position: relative;
}

.benefits__content::before {
    content: '';
    background-image: url(../img/benefits-pic.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 160px;
    height: 142px;
    position: absolute;
    left: 0px;
    top: 22px;
}

.benefits__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: #2E2B44;
    width: 380px;
    margin-bottom: 20px;
}

.benefits__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    width: 585px;
}

.benefits__content {
    margin-bottom: 30px;
}

.benefits__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #666;
    position: relative;
    padding-left: 110px;
}

.item-1::before {
    content: '';
    background-image: url(../img/benefits-icon-1.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
}

.item-2::before {
    content: '';
    background-image: url(../img/benefits-icon-2.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
}

.item-3::before {
    content: '';
    background-image: url(../img/benefits-icon-3.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
}

.teachers__container {
    min-height: 576px;
    background-color: #212133;
    padding: 80px calc(165px - ((1410px - 100%) / 2));
    padding-bottom: 40px;
}

.teachers__title {
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
}

.teacher__card {
    margin-bottom: 40px;
    position: relative;
}

.teacher__pic {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.teacher__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 15px;
    display: block;
    width: 255px;
    margin-left: auto;
    margin-right: auto;
}

.teachers-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #85859B;
    width: 255px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.curses__container {
    min-height: 1308px;
    padding: 80px calc(150px - ((1410px - 100%) / 2));
    padding-bottom: 50px;
}

.curses__title {
    margin: 0;
    color: #212121;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    display: block;
    height: 28px;
}

.curses__card {
    padding-top: 210px;
    height: 510px;
    width: 539px;
    border-radius: 20px;
    background-color: #EDF0F9;
    position: relative;
    margin-bottom: 30px;
}

.curses__content {
    padding: 0 30px;
}

.curses__card-1::before {
    content: '';
    background-image: url(../img/curses-pic-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 539px;
    height: 180px;
    position: absolute;
    top: 0;
    border-radius: 20px 20px 0 0;
}

.curses__card-2::before {
    content: '';
    background-image: url(../img/curses-pic-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 539px;
    height: 180px;
    position: absolute;
    top: 0;
    border-radius: 20px 20px 0 0;
}

.curses__card-3::before {
    content: '';
    background-image: url(../img/curses-pic-3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 539px;
    height: 180px;
    position: absolute;
    top: 0;
    border-radius: 20px 20px 0 0;
}

.curses__card-4::before {
    content: '';
    background-image: url(../img/curses-pic-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 539px;
    height: 180px;
    position: absolute;
    top: 0;
    border-radius: 20px 20px 0 0;
}

.curses__card__title {
    display: block;
    font-weight: 700;
    line-height: 27px;
    font-size: 18px;
    color: #212121;
    margin-bottom: 15px;
}

.curses__descr {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #666;
    margin-bottom: 32px;
    display: block;
}

.curses__btn {
    background-color: #3F2AFF;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    width: 202px;
    height: 60px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    border: none;
}

.curses__duration {
    background-image: url(../img/time-icon.svg);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding-left: 27px;
    position: absolute;
    top: 13px;
    right: 4px;
}

.footer__nav {
    background-color: #2E2B44;
    height: 80px;
    align-items: center;
}

.socials__container {
    display: flex;
    margin: auto;
    justify-content: center;
}

.facebook {
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
    margin-right: 33px;
}

.twitter {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
    margin-right: 33px;
}

.instagram {
    background-image: url(../img/instagram.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
    margin-right: 33px;
}

.youtube {
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
}

.skillbox__container {
    height: 18px;
}

.skillbox {
    background-image: url(../img/SKILLBOX\ ®\ 2021.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 105px;
    height: 15px;
    margin: auto;
}

@media (max-width:1150px) {
    .header__banner::before {
        background-image: url(../img/banner-pic-768.png);
        width: 330px;
        height: 350px;
        top: 117px;
        right: calc(165px - ((1150px - 100%) / 1.9));
    }

    .banner__title {
        margin-left: calc(165px - ((1150px - 100%) / 1.9));
    }

    .banner__descr {
        margin-left: calc(165px - ((1150px - 100%) / 1.9));
    }

    .banner__btn {
        margin-left: calc(165px - ((1150px - 100%) / 1.9));
    }

    .benefits__container {
        padding-left: 39px;
        padding-right: 39px;
    }

    .benefits__item {
        padding-left: 0;
        padding-top: 95px;
    }

    .item-1::before {
        top: 0;
    }

    .item-2::before {
        top: 0;
    }

    .item-3::before {
        top: 0;
    }

    .curses__card {
        margin-left: auto;
        margin-right: auto;
        width: calc(539px * 0.8);
    }

    .curses__card-1::before {
        width: calc(539px * 0.8);
    }

    .curses__card-2::before {
        width: calc(539px * 0.8);
    }

    .curses__card-3::before {
        width: calc(539px * 0.8);
    }

    .curses__card-4::before {
        width: calc(539px * 0.8);
    }
}

@media (max-width: 900px) {
    .banner__title {
        font-size: 50px;
        line-height: 50px;
        margin-left: calc(100px - ((900px - 100%) / 1.9));
    }

    .banner__descr {
        font-size: 18px;
        line-height: 27px;
        margin-left: calc(100px - ((900px - 100%) / 1.9));
        width: 345px;
    }

    .banner__btn {
        margin-left: calc(100px - ((900px - 100%) / 1.9));
    }

    .header__banner::before {
        right: calc(100px - ((900px - 100%) / 1.9));;
    }

    .curses__card {
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        min-height: 556px;
    }

    .curses__card-1::before {
        background-image: url(../img/curses-pic-1-768.jpg);
        width: 100%;
    }

    .curses__card-2::before {
        background-image: url(../img/curses-pic-2-768.jpg);
        width: 100%;
    }

    .curses__card-3::before {
        background-image: url(../img/curses-pic-3-768.jpg);
        width: 100%;
    }

    .curses__card-4::before {
        background-image: url(../img/curses-pic-4-768.jpg);
        width: 100%;
    }

    .benefits__descr {
        width: 450px;
    }
}

@media (max-width: 768px) {
    .benefits__container {
        padding-left: 39px;
        padding-right: 39px;
    }

    .benefits__descr {
        max-width: 450px;
    }

    .benefits__content::before {
        background-image: url(../img/benefits-icon-768.png);
        width: 211px;
        height: 187px;
    }

    .benefits__content {
        padding-left: 240px;
    }

    .benefits__item {
        max-width: 222px;
    }

    .benefits__item:not(:last-child) {
        padding-right: 30px;
    }

    .teachers-descr {
        max-width: 330px;
        margin-left: 15px;
        width: 330px;
    }

    .teacher__name {
        margin-left: 15px;
    }

    .curses__title {
        padding-left: 20px;
    }
}

@media (max-width: 750px) {
    .header__banner {
        background: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
    }

    .header__banner::before {
        display: none;
    }

    .banner__title {
        margin-left: 33px;
        margin-top: 77px;
    }

    .banner__descr {
        margin-left: 33px;
    }

    .banner__btn {
        margin-left: 33px;
    }

    .logo__768 {
        display: block;
        background-color: #3F2AFF;
        height: 53px;
        margin: auto;
    }

    .logo-768 {
        margin: auto;
        display: block;
        margin-top: 25px;
    }

    .header__logo {
        display: none;
    }

    .header__nav {
        justify-content: space-between;
    }

    .teachers-descr {
        width: 250px;
    }

    .benefits__descr {
        width: 330px;
    }

    .benefits__content::before {
        background-image: url(../img/benefits-pic.png);
        width: 150px;
        height: 134px;
        top: 0;
    }

    .benefits__title {
        width: 330px;
    }

    .benefits__content {
        padding-left: 180px;
    }

    .curses__card {
        margin-left: auto;
        margin-right: auto;
        width: 240px;
        min-height: 653px;
    }

    .curses__card-1::before {
        background-image: url(../img/curses-pic-1-768.jpg);
        width: 100%;
    }

    .curses__card-2::before {
        background-image: url(../img/curses-pic-2-768.jpg);
        width: 100%;
    }

    .curses__card-3::before {
        background-image: url(../img/curses-pic-3-768.jpg);
        width: 100%;
    }

    .curses__card-4::before {
        background-image: url(../img/curses-pic-4-768.jpg);
        width: 100%;
    }
}

@media (max-width: 576px) {
    .header__banner {
        height: 567px;
    }

    .curses__btn {
        width: 180px;
    }

    .teacher__name {
        margin-left: auto;
        margin-right: auto;
    }

    .teachers-descr {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {
    .logo__768 {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .header__burger {
        display: flex;
        height: 80px;
        align-items: center;
    }

    .burger__icon {
        width: 30px;
        height: 30px;
    }

    .logo-xs {
        width: 72px;
        height: 16px;
        margin-right: calc(192px + (100% - 320px));
    }

    .header__banner {
        height: 353px;
        margin-bottom: 50px;
    }

    .banner__title {
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        width: 226px;
        margin-bottom: 15px;
        margin-top: 50px;
        margin-left: 3px;
    }

    .banner__descr {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 50px;
        margin-left: 3px;
    }

    .banner__btn {
        width: 213px;
        height: 60px;
        margin-left: 3px;
    }

    .benefits__content::before {
        display: none;
    }

    .benefits__content {
        padding-left: 0;
    }

    .benefits__container {
        padding: 0 15px;
    }

    .benefits__item {
        max-width: 500px;
    }

    .benefits__item:not(:last-child) {
        margin-bottom: 15px;
    }
}

@media (max-width: 360px) {
    .banner__descr {
        width: 290px;
    }

    .benefits__descr {
        width: 290px;
    }

    .benefits__title {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 15px;
        width: 290px;
    }

    .benefits__item {
        width: 290px;
        padding-left: 110px;
        padding-top: 0;
        padding-right: 0;
    }

    .benefits__item:not(:last-child) {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .benefits__container {
        margin-bottom: 56px;
    }

    .teachers__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .teachers__title {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
    }

    .curses__container {
        padding: 50px 0;
        padding-bottom: 20px;
    }

    .curses__card {
        width: 290px;
    }

    .curses__card-1::before {
        width: 290px;
    }
}